@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: oklch(0.956 0.021 156.72);
  --color-green-100: oklch(0.91 0.042 156.26);
  --color-green-200: oklch(0.824 0.084 154.32);
  --color-green-300: oklch(0.739 0.124 152.71);
  --color-green-400: oklch(0.63 0.13 151.64);
  --color-green-500: oklch(0.478 0.096 151.82);
  --color-green-600: oklch(0.411 0.081 151.91);
  --color-green-700: oklch(0.339 0.063 151.93);
  --color-green-800: oklch(0.263 0.045 152.58);
  --color-green-900: oklch(0.185 0.026 153.05);
  --color-green-950: oklch(0.139 0.016 161.46);
  --color-lime-50: oklch(0.97 0.017 136.91);
  --color-lime-100: oklch(0.933 0.038 135.45);
  --color-lime-200: oklch(0.874 0.072 136.4);
  --color-lime-300: oklch(0.81 0.112 136.58);
  --color-lime-400: oklch(0.753 0.146 137.25);
  --color-lime-500: oklch(0.681 0.162 137.6);
  --color-lime-600: oklch(0.579 0.135 137.67);
  --color-lime-700: oklch(0.466 0.106 137.71);
  --color-lime-800: oklch(0.359 0.077 137.18);
  --color-lime-900: oklch(0.229 0.041 136.92);
  --color-lime-950: oklch(0.17 0.026 136.9);
  --color-yerllow-50: oklch(0.984 0.019 93.62);
  --color-yerllow-100: oklch(0.968 0.037 95.42);
  --color-yerllow-200: oklch(0.937 0.079 96.72);
  --color-yerllow-300: oklch(0.909 0.112 95.88);
  --color-yerllow-400: oklch(0.879 0.143 95.35);
  --color-yerllow-500: oklch(0.855 0.161 94.67);
  --color-yerllow-600: oklch(0.782 0.158 92.83);
  --color-yerllow-700: oklch(0.64 0.128 92.91);
  --color-yerllow-800: oklch(0.474 0.094 93.21);
  --color-yerllow-900: oklch(0.307 0.06 95.21);
  --color-yerllow-950: oklch(0.206 0.038 94.67);
  --color-red-50: oklch(0.953 0.014 17.53);
  --color-red-100: oklch(0.908 0.027 20.58);
  --color-red-200: oklch(0.806 0.06 21.09);
  --color-red-300: oklch(0.715 0.092 22.98);
  --color-red-400: oklch(0.62 0.131 24.46);
  --color-red-500: oklch(0.541 0.153 25.97);
  --color-red-600: oklch(0.458 0.127 25.84);
  --color-red-700: oklch(0.381 0.102 25.52);
  --color-red-800: oklch(0.29 0.072 25.08);
  --color-red-900: oklch(0.201 0.041 23.84);
  --color-red-950: oklch(0.147 0.023 26.57);
}

:root {

  

  --ui-container: var(--container-8xl);
}
